# Ignore compiled Stencil assets (theme build output) for ANY theme
theme/*/assets/dist/
theme/*/parsed/

# Ignore generated bundles + maps for ANY theme
theme/**/*.map
theme/**/*.bundle.js
theme/**/*.bundle.css

# Ignore all Stencil build ZIPs
theme/*.zip
theme/*/*.zip

# Ignore node modules inside ANY theme
theme/*/node_modules/

# Ignore OS + npm noise
.DS_Store
npm-debug.log*


/theme/jj-roots-plastics-5.2.2/assets/dist
