# Ignore compiled Stencil assets (theme build output) for any theme
theme/*/assets/dist/
theme/*/parsed/

# Ignore generated bundles + maps for any theme
theme/**/*.map
theme/**/*.bundle.js
theme/**/*.bundle.css
theme/*.zip

# Ignore node modules inside any theme
theme/*/node_modules/

# Ignore macOS + npm noise
.DS_Store
npm-debug.log*


